@use 'modules/variables' as v;
@use 'modules/centering' as c;
* {
    font-family: 'Kumbh Sans', sans-serif;
}
html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
html, body {
    z-index: 2;
    height: 100vh;
}
.navigation {
    position: relative;
    height: 4em;
    @include c.center(row);
}
.hamburger {
    position: absolute;
    left: 1.5em;
    cursor: pointer;
}
.main-header {
    position: absolute;
    left: 0;
    margin-left: 3em;
}
.nav-paragraph {
    cursor: pointer;
}
.cart {
    position: absolute;
    right: 20%;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}
.avatar {
    position: absolute;
    cursor: pointer;
    right: 7%;
    height: 30px;
}
.hamburger-menu {
    background-color: v.$white;
    padding-left: 1.5em;
    padding-top: 3em;
    width: min(70%, 20em);
    min-height: 100vh;
    border: 0;
    margin-left: 0;
    p {
        font-weight: 700;
    }
}
.hamburger-menu::backdrop {
    background: hsl(0, 0%, 15%);;
    opacity: .7;
}
.close-icon {
    cursor: pointer;
}
.main-image {
    position: relative;
    width: 100%;
    .circle1, .circle2 {
        z-index: 2;
        cursor: pointer;
        position: absolute;
        top: calc(50% - 1.5em);
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: v.$white;
        @include c.center(row);
    }
    .circle1 {
        left: 5%;
    }
    .circle2 {
        right: 5%;
    }
    .shoe {
        width: 100%;
        position: relative;
    }
}
.informations {
    margin-inline: auto;
    padding-top: 0.8em;
    text-indent: 1em;
    .company-name {
        text-transform: uppercase;
        font-size: clamp(0.8em, 2vw, 1.1em);
        color: v.$orange;
    }
    .description-header {
        font-size: clamp(1.2em, 6vw, 2em);
    }
    .description {
        text-indent: 0;
        padding-left: 1em;
        color: v.$dark-grayish-blue;
    }
    .prices {
        position: relative;
        @include c.center(row);
        height: 3em;
        .price {
            position: absolute;
            left: 0;
            font-weight: 700;
            font-size: clamp(1em, 4vw, 1.5em);
        }
        .discount {
            text-indent: 0.2em;
            position: absolute;
            left: 22%;
            transform: translate(22%, 0);
            padding: 0.2em;
            color: v.$orange;
            background-color: v.$pale-orange;
            font-weight: 700;
        }
        .price-before-discount {
            position: absolute;
            right: 10%;
            color: v.$grayish-blue;
            text-decoration:line-through;
            font-weight: 700;
        }
    }
    .amount {
        width: 95%;
        height: 3em;
        @include c.center(row);
        background-color: v.$light-grayish-blue;
        position: relative;
        margin-inline: auto;
        .minus {
            cursor: pointer;
            position: absolute;
            left: 5%;
        }
        .plus {
            cursor: pointer;
            position: absolute;
            right: 5%;
        }
        .amount-counter {
            font-weight: 700;
        }
    }
  
    .add-to-cart-button {
        position: relative;
        margin-top: 1em;
        margin-bottom: 2em;
        display: block;
        margin-inline: auto;
        width: 95%;
        background-color: v.$orange;
        border: 0;
        height: 4em;
        border-radius: .8em;
        color: v.$white;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0px 18px 38px -19px rgba(255, 140, 26, 1);
        .button-content {
            @include c.center(row);
            margin-inline: auto;
            position: relative;
            height: 100%;
            width: 14em;
        }
        .cart {
            position: relative;
            left: -.5em;
            filter: brightness(0) invert(1);
        }
    }
}
.cart-popup {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 20em;
    background-color: v.$white;
    z-index: 2;
    border-radius: 1em;
    box-shadow: 0px 6px 16px 0px rgb(87, 87, 87);
}
.cart-popup-header {
    padding-left: 1.5em;
    padding-top: 1.5em;
    margin-bottom: 2.5em;
}
.popup-line {
    width: 100%;
    height: 1px;
    background-color: v.$light-grayish-blue;
}
.popup-cart-empty-informations {
    text-align: center;
    color: v.$dark-grayish-blue;
    font-weight: 700;
    font-size: clamp(0.8em, 2vw, 1.1em);
}
.empty-cart-div {
    @include c.center(row);
    width: 100%;
    height: calc(68%);
}
.thumbnail {
    position: absolute;
    margin-right: .5em;
    left: 5%;
    top: 30%;
    transform: translate(0, -30%);
    height: 4em;
    border-radius: .5em;
}
.final-price {
    font-weight: 700;
    color: black;
}
.cart-information {
    position: absolute;
    top: 7em;
    width: 100%;
    height: 60%;
}
.cart-information-description {
    position: absolute;
    top: 30%;
    transform: translate(20%, -30%);
    left: 20%;
    font-weight: 400;
    font-size: clamp(0.7em, 3vw, 1.2em);
    text-align: left;
    width: 15em;
}
.trash-image {
    position: absolute;
    left: 90%;
    top: 30%;
    transform: translate(0, -30%);
    cursor: pointer;
}
.checkout-button {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    height: 4em;
    background-color: v.$orange;
    border: 0;
    border-radius: .7em;
    transform: translate(-50%, 0);
    color: v.$white;
    font-weight: 700;
    cursor: pointer;
}
.amount-bubble {
    position: absolute;
    right: 20%;
    transform: translate(50%, 0);
    top: 0.6em;
    width: 1.8em;
    height: 1.2em;
    background-color: v.$orange;
    border-radius: 0.6em;
    color: v.$white;
    text-align: center;
}
