* {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html, body {
  z-index: 2;
  height: 100vh;
}

.navigation {
  position: relative;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navigation-informations {
  visibility: hidden;
}

.hamburger {
  position: absolute;
  left: 1.5em;
  cursor: pointer;
}

.main-header {
  position: absolute;
  left: 0;
  margin-left: 3em;
}

.nav-paragraph {
  cursor: pointer;
}

.cart {
  position: absolute;
  right: 20%;
  cursor: pointer;
}
.cart:hover {
  filter: brightness(130%);
}

.avatar {
  position: absolute;
  cursor: pointer;
  right: 7%;
  height: 30px;
}

.hamburger-menu {
  background-color: hsl(0deg, 0%, 100%);
  padding-left: 1.5em;
  padding-top: 3em;
  width: min(70%, 20em);
  min-height: 100vh;
  border: 0;
  margin-left: 0;
}
.hamburger-menu p {
  font-weight: 700;
}

.hamburger-menu::-webkit-backdrop, .popup-modal::-webkit-backdrop {
  background: hsl(0deg, 0%, 15%);
  opacity: 0.7;
}

.hamburger-menu::backdrop, .popup-modal::backdrop {
  background: hsl(0deg, 0%, 15%);
  opacity: 0.7;
}

.popup-modal {
  margin-top: 2em;
  border: 0;
  width: 25em;
  height: 40em;
  padding: 0;
  overflow: visible;
  background-color: hsla(0deg, 0%, 0%, 0);
}
.popup-modal .popup-previous-image, .popup-modal .popup-next-image {
  position: absolute;
  width: 3em;
  height: 3em;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
}
.popup-modal .popup-previous-image {
  top: 13em;
  left: -1.5em;
}
.popup-modal .popup-next-image {
  top: 13em;
  right: -1.5em;
}
.popup-modal .popup-arrow-icon {
  position: absolute;
  left: 35%;
  top: 30%;
}
.popup-modal .popup-main-image {
  width: 100%;
  border-radius: 1em;
  margin-top: 1em;
}
.popup-modal .popup-close-icon {
  position: absolute;
  right: 0;
  filter: invert(57%) sepia(41%) saturate(2515%) hue-rotate(346deg) brightness(99%) contrast(104%);
  height: 1em;
  align-self: flex-end;
  cursor: pointer;
}
.popup-modal .popup-close-icon:hover {
  color: hsl(26deg, 100%, 55%);
}
.popup-modal .popup-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0.9em;
       column-gap: 0.9em;
  margin-top: 1.5em;
}
.popup-modal .popup-thumbnails .popup-thumbnail-container {
  border-radius: 0.5em;
  background-color: hsl(0deg, 0%, 100%);
}
.popup-modal .popup-thumbnails .popup-thumbnail {
  width: 5em;
  height: auto;
  border-radius: 0.5em;
}
.popup-modal .popup-main-image {
  height: 70%;
  width: auto;
}

.close-icon {
  cursor: pointer;
}

.main-image {
  position: relative;
  width: 100%;
}
.main-image .thumbnails {
  display: none;
}
.main-image .circle1, .main-image .circle2 {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main-image .circle1 {
  left: 5%;
}
.main-image .circle2 {
  right: 5%;
}
.main-image .shoe {
  cursor: pointer;
  width: 100%;
  position: relative;
}

.informations {
  margin-inline: auto;
  padding-top: 0.8em;
  text-indent: 1em;
}
.informations .company-name {
  text-transform: uppercase;
  font-size: clamp(0.8em, 2vw, 1.1em);
  color: hsl(26deg, 100%, 55%);
}
.informations .description-header {
  font-size: clamp(1.2em, 5vw, 2em);
}
.informations .description {
  text-indent: 0;
  padding-left: 1em;
  color: hsl(219deg, 9%, 45%);
}
.informations .prices {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3em;
}
.informations .prices .price {
  position: absolute;
  left: 0;
  font-weight: 700;
  font-size: clamp(1em, 4vw, 1.5em);
}
.informations .prices .discount {
  text-indent: 0.2em;
  position: absolute;
  left: 22%;
  transform: translate(22%, 0);
  padding: 0.2em;
  color: hsl(26deg, 100%, 55%);
  background-color: hsl(25deg, 100%, 94%);
  font-weight: 700;
}
.informations .prices .price-before-discount {
  position: absolute;
  right: 10%;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
  font-weight: 700;
}
.informations .amount {
  width: 95%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: hsl(223deg, 64%, 98%);
  position: relative;
  margin-inline: auto;
}
.informations .amount .minus {
  cursor: pointer;
  position: absolute;
  left: 5%;
}
.informations .amount .plus {
  cursor: pointer;
  position: absolute;
  right: 5%;
}
.informations .amount .amount-counter {
  margin-left: -0.7em;
  font-weight: 700;
}
.informations .add-to-cart-button {
  position: relative;
  margin-top: 1em;
  margin-bottom: 2em;
  display: block;
  margin-inline: auto;
  width: 95%;
  background-color: hsl(26deg, 100%, 55%);
  border: 0;
  height: 4em;
  border-radius: 0.8em;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 18px 38px -19px rgb(255, 140, 26);
}
.informations .add-to-cart-button .button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-inline: auto;
  position: relative;
  height: 100%;
  width: 14em;
}
.informations .add-to-cart-button .cart {
  position: relative;
  left: -0.5em;
  filter: brightness(0) invert(1);
}

.cart-popup {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 20em;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 2;
  border-radius: 1em;
  box-shadow: 0px 6px 12px 0px rgb(164, 164, 164);
}

.cart-popup-header {
  padding-left: 1.5em;
  padding-top: 1.5em;
  margin-bottom: 2.5em;
}

.popup-line {
  width: 100%;
  height: 1px;
  background-color: hsl(223deg, 64%, 98%);
}

.popup-cart-empty-informations {
  text-align: center;
  color: hsl(219deg, 9%, 45%);
  font-weight: 700;
  font-size: clamp(0.8em, 2vw, 1.1em);
}

.empty-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 68%;
}

.thumbnail {
  position: absolute;
  margin-right: 0.5em;
  left: 5%;
  top: 30%;
  transform: translate(0, -30%);
  height: 4em;
  border-radius: 0.5em;
}

.final-price {
  font-size: clamp(0.7em, 1.8vw, 1.2em);
  font-weight: 700;
  color: black;
  transform: translate(65%, 0%);
  margin-left: 0.4em;
}

.cart-information {
  position: absolute;
  top: 7em;
  width: 100%;
  height: 60%;
}

.cart-information-description {
  position: absolute;
  top: 30%;
  transform: translate(20%, -30%);
  left: 20%;
  font-weight: 400;
  font-size: clamp(0.7em, 3vw, 1.2em);
  text-align: left;
  width: 15em;
}

.trash-image {
  position: absolute;
  left: 90%;
  top: 30%;
  transform: translate(0, -30%);
  cursor: pointer;
}

.checkout-button {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 90%;
  height: 4em;
  background-color: hsl(26deg, 100%, 55%);
  border: 0;
  border-radius: 0.7em;
  transform: translate(-50%, 0);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

.amount-bubble {
  position: absolute;
  right: 20%;
  transform: translate(50%, 0);
  top: 0.5em;
  width: 1.8em;
  height: 1.2em;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 0.6em;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}

.attribution {
  margin-top: 7em;
}

@-webkit-keyframes flow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes flow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 780px) {
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 8.5em;
         column-gap: 8.5em;
  }

  .cart {
    right: 15%;
  }

  .navigation {
    height: 6em;
  }
  .navigation .nav-line {
    position: absolute;
    bottom: 0;
    left: 4.5em;
    height: 1px;
    background-color: hsl(220deg, 14%, 75%);
    width: 90%;
  }

  .navigation-informations {
    visibility: visible;
    font-size: clamp(0.6em, 1.5vw, 1em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 10%;
         column-gap: 10%;
    position: absolute;
    left: -3.5%;
    transform: translateX(140%);
    height: 100%;
    cursor: pointer;
  }
  .navigation-informations .nav-desktop-paragraph {
    color: hsl(219deg, 9%, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .navigation-informations .nav-desktop-paragraph .paragraph-line {
    visibility: hidden;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: hsl(26deg, 100%, 55%);
    bottom: 0;
  }
  .navigation-informations .nav-desktop-paragraph:hover {
    color: hsl(0deg, 0%, 0%);
  }
  .navigation-informations .nav-desktop-paragraph:hover .paragraph-line {
    visibility: visible;
    -webkit-animation: flow 0.2s linear;
            animation: flow 0.2s linear;
  }

  .main-image .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
    cursor: pointer;
    line-height: 0;
  }
  .main-image .thumbnails .main-thumbnail {
    vertical-align: bottom;
    width: 5em;
    height: auto;
    border-radius: 0.5em;
  }
  .main-image .thumbnails .main-thumbnail:hover {
    opacity: 0.6;
  }

  .avatar {
    height: 40px;
  }
  .avatar:checked {
    border: 2px solid hsl(26deg, 100%, 55%);
    border-radius: 50%;
  }

  .cart-popup {
    left: 82%;
    transform: translateX(-60%);
    margin-right: 5em;
    height: 15em;
    width: 20em;
    top: 5.5em;
  }

  .empty-cart-div {
    height: 13.5em;
  }

  .popup-cart-empty-informations {
    font-size: 0.8em;
  }

  .hamburger {
    visibility: hidden;
  }

  .amount-bubble {
    top: 1.5em;
    right: 15%;
  }

  .checkout-button {
    top: 60%;
  }

  .thumbnail {
    top: 15%;
  }

  .cart-information-description {
    top: 15%;
    left: 10%;
  }

  .trash-image {
    left: 90%;
    top: 15%;
  }

  .popup-line {
    margin-top: -2em;
  }

  .right-part {
    margin-top: 3em;
    max-width: 45%;
    margin-right: 8em;
  }

  .left-part {
    margin-left: 10em;
    max-width: 35%;
    margin-top: 6em;
  }
  .left-part .previous, .left-part .next, .left-part .circle1, .left-part .circle2 {
    visibility: hidden;
  }
  .left-part .main-image {
    width: 25em;
    height: auto;
  }
  .left-part .shoe {
    border-radius: 1em;
  }

  .price-before-discount {
    top: 3em;
    left: 0;
  }

  .amount-and-button {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 1em;
         column-gap: 1em;
    margin-left: 1em;
  }

  .amount {
    min-width: 4em;
    max-width: 35%;
  }

  .add-to-cart-button {
    top: 0.6em;
    margin-right: 1em;
    min-width: 14em;
  }
  .add-to-cart-button:hover {
    background-color: hsla(26deg, 100%, 55%, 0.7);
  }

  .informations .company-name {
    font-size: 0.8em;
    margin-bottom: 1em;
  }
  .informations .description-header {
    text-indent: 0;
    padding-left: 0.5em;
    margin-bottom: 1em;
  }
  .informations .prices .discount {
    left: 0%;
    transform: translateX(270%);
  }
}/*# sourceMappingURL=index.css.map */