@use 'modules/variables' as v;
@use 'modules/centering' as c;
* {
    font-family: 'Kumbh Sans', sans-serif;
}
html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
html, body {
    z-index: 2;
    height: 100vh;
}
.navigation {
    position: relative;
    height: 10vh;
    @include c.center(row);
}
.hamburger {
    position: absolute;
    left: 1.5em;
    cursor: pointer;
}
.main-header {
    position: absolute;
    left: 0;
    margin-left: 3em;
}
.cart {
    position: absolute;
    right: 20%;
    cursor: pointer;
    &:hover {
        filter: brightness(130%);
    }
}
.avatar {
    position: absolute;
    cursor: pointer;
    right: 7%;
    height: 30px;
}
.hamburger-menu {
    background-color: v.$white;
    padding-left: 1.5em;
    padding-top: 3em;
    width: min(70%, 20em);
    min-height: 100vh;
    border: 0;
    margin-left: 0;
    p {
        font-weight: 700;
    }
}
.hamburger-menu::backdrop {
    background: hsl(0, 0%, 15%);;
    opacity: .7;
}
.close-icon {
    cursor: pointer;
}
.main-image {
    position: relative;
    width: 100%;
    .circle1, .circle2 {
        z-index: 2;
        cursor: pointer;
        position: absolute;
        top: calc(50% - 1.5em);
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: v.$white;
        @include c.center(row);
    }
    .circle1 {
        left: 5%;
    }
    .circle2 {
        right: 5%;
    }
    .shoe {
        width: 100%;
        position: relative;
    }
}
.informations {
    margin-inline: auto;
    padding-left: 1em;
    padding-top: 0.8em;
    .company-name {
        text-transform: uppercase;
        font-size: clamp(0.8em, 2vw, 1.1em);
        color: v.$orange;
    }
    .description-header {
        font-size: clamp(1.5em, 6vw, 2em);
    }
    .description {
        color: v.$dark-grayish-blue;
    }
    .prices {
        position: relative;
        @include c.center(row);
        height: 3em;
        .price {
            position: absolute;
            left: 0;
            font-weight: 700;
            font-size: clamp(1em, 4vw, 1.5em);
        }
        .discount {
            position: absolute;
            left: 15%;
            margin-left: 1em;
            padding: 0.2em;
            color: v.$orange;
            background-color: v.$pale-orange;
        }
        .price-before-discount {
            position: absolute;
            right: 10%;
        }
    }
    .amount {
        width: 95%;
        height: 3em;
        @include c.center(row);
        background-color: v.$light-grayish-blue;
        position: relative;
        margin-inline: auto;
        .minus {
            cursor: pointer;
            position: absolute;
            left: 5%;
        }
        .plus {
            cursor: pointer;
            position: absolute;
            right: 5%;
        }
        .amount-counter {
            font-weight: 700;
        }
    }
  
    .add-to-cart-button {
        position: relative;
        margin-top: 1em;
        margin-bottom: 2em;
        display: block;
        margin-inline: auto;
        width: 95%;
        background-color: v.$orange;
        border: 0;
        height: 4em;
        border-radius: .8em;
        color: v.$white;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0px 18px 38px -19px rgba(255, 140, 26, 1);
        .button-content {
            @include c.center(row);
            margin-inline: auto;
            position: relative;
            height: 100%;
            width: 14em;
        }
        .cart {
            position: relative;
            left: -.5em;
            filter: brightness(0) invert(1);
        }
    }

}





